*{
    margin: 0;
    padding: 0;
}
body{
   background-color: lightgrey;
   font-family: 'Times New Roman', Times, serif;
}
#container{
    
    background: url(../images/banner4.png);
    width: 100%;
    height: 300px;
    background-size: cover;
    background-color: lightgrey;
}

#logoimg{
    float: left;
    width: 100px;
    height: 100px;
    margin-left: 100px;
}

#logoimg img{
    width: 100%;
}

#menu{
    float: right;
}

#menu a{
    color: black;
}

#menu ul{
    list-style-type: none;
    margin-right: 50px;
    text-align: center;
}

#menu ul li{
    display: inline-block;
    width: 110px;
    
    margin-top: 20px;
    padding: 10px;
    
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
}

#menu ul li:hover{
    border-bottom: solid green;
}

#aboutus{
    margin-top: 20px;
    display: flex;
}
#aboutimg{
    width: 300px;
    height: 300px;
    flex: 2;
   padding-left: 100px;
   padding-top: 30px;
    
}

#aboutimg img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#aboutp{
   flex: 3;
    padding: 80px;
    text-align: left;
}

#aboutp ul{
    padding-left: 50px;
    padding-top: 20px;
}
#aboutp h2{
    text-align: center;
    padding-bottom: 10px;
}


#feedback1{
    display: flex;
    width: 100%;
    justify-content: space-around;
   
}

#feedback2{
    display: flex;
    width: 100%;
    justify-content: space-around;
   
}

.review1{
   width: 300px;
   height: 200px;
   margin: auto;
}

.review1 img{
    border-radius: 20px;
    margin-right: 10px;
    width: 100%;
    height: 200px;
    
}

#feedh2{
    text-align: center;
    margin-bottom: 20px;
}

.review2{
    width: 300px;
    height: 200px;
    margin: auto;
 }
 
 .review2 img{
     border-radius: 20px;
     margin-right: 10px;
     width: 100%;
     height: 200px;
     
 }
#contactsection{
    display: flex;
    
}
 #form{
    
    
     flex: 4;
    text-align: center;
     margin: 20px;
 }

 #form form{
     background: white;
     width: 300px;
     border: solid grey;
     padding: 20px;
     border-radius: 30px;
     margin: auto;
 }
 #form form input, #form form button{
     margin: 10px;
     padding: 10px;
 }
 #social{
     flex: 2;
     margin-top: 40px;
 }

 #social ul li{
    list-style-type: none;
 }
#social ul li a{
    color: black;
    text-decoration: none;
}
 #footer{
     text-align: center;
    
 }

 @media(max-width:720px){
   
    #logoimg{
       float: none;
        width: 100px;
        height: 100px;
        margin-left: 10px;
        margin: auto;
    }
    #menu{
        float: none;
        text-align: center;
    }
    #menu ul{
        list-style-type: none;
       
        text-align: center;
    }

    #menu ul a{
        text-decoration: none;
    }

    #menu ul li{
        display: block;
        width: 100%;
        margin-top: 10px;
        padding: 10px;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: bold;
        background-color: white;
    }

    #aboutus{
        margin-top: 5px;
        display: block;
        text-align: center;
    }
    #aboutimg{
        width: 200px;
        height: 200px;
        margin: auto;
        padding-top: 10px;
        padding-left: 0;
    }
    
    #aboutimg img{
        width: 100%;
        height: 200px;
        
        
    }
    
    #aboutp{
        margin-top: 10px;
        padding: 20px;
        
    }

    #feedback1{
        display: block;
        width: 90%;
        justify-content: none;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    #feedback2{
        display: none;
    }
    
    .review1{
       width: 100%;
       padding-bottom: 20px;
       margin: 0;
    }
    
    .review1 img{
        border-radius: 20px;
        margin-right: 0;
        width: 100%;
        height: 200px;
    }
    
    #feedh2{
        text-align: center;
        margin-bottom: 20px;
    }
    
    #contactsection{
        display: block;
        text-align: center;
        
    }
     #form{
        text-align: center;
         margin: 0;
         margin-top: 10px;
     }
    
    
     #social{
         margin-top: 40px;
         
     }

     #social ul li{
        list-style-type: none;
     }

     #social ul li a{
         color: black;
         text-decoration: none;
     }
   
 }